
NODE_ENV=dev, test, production
# For SQLite
DB_PATH=./database.sqlite

# For PostgreSQL
DB_HOST=your-postgres-host
DB_USER=your-postgres-user
DB_PASSWORD=your-postgres-password
DB_NAME=your-postgres-database